.complete-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('../../assets/2.jpg');
  background: linear-gradient(135deg, #cae8e6, #78c5d5);
  color: #333;
}

.complete-profile-container h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.complete-profile-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.complete-profile-form input[type="number"],
.complete-profile-form input[type="text"],
.complete-profile-form input[type="time"],
.complete-profile-form select {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

.complete-profile-form select {
  background: #f9f9f9;
  color: #333;
  appearance: none;
}

.complete-profile-form input[type="checkbox"] {
  width: auto;
}

.complete-profile-form label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.complete-profile-form .lifestyle-options {
  display: flex;
  gap: 1rem;
}

.complete-profile-form input:focus,
.complete-profile-form select:focus {
  border-color: #6a11cb;
  outline: none;
}

.complete-profile-form button {
  background: #6a11cb;
  color: #fff;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.complete-profile-form label.pregnant-label {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 0.5rem;
  font-size: 0.9rem;
}

.complete-profile-form input[type="checkbox"] {
  width: auto; /* Ensures checkbox does not take full width */
  margin-right: 0.5rem; /* Adds space between checkbox and label */
}



.complete-profile-form button:hover {
  background: #2575fc;
}

.complete-profile-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.complete-profile-form label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.complete-profile-form input, 
.complete-profile-form select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.complete-profile-form input[type="checkbox"] {
  margin-right: 0.5rem;
}

.lifestyle-options label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

